.country {
    border: 1px solid tomato;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}

.img-width {
    height: 250px;
    width: 400px;
}

.visited {
    background-color: cadetblue;
    color: black;
}